#articles {
    justify-content: center;
    margin: 25px;
    padding: 50px;
    background-color: rgb(187, 214, 157);
}
body, .price_info {
    display: flex;
    justify-content: space-around;
    text-align: justify;
}
.quantity-form{
    display: flex;
    justify-content:space-around;
    padding: 10px;
}
.product-card-footer{
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}
.cart-totals-wrapper{
    justify-content: center;
    margin-bottom: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 50px;
    padding: 10px;
    
    background-color: rgb(187, 214, 157);

}
a.button{
    display:inline-block;
    padding:0.7em 1.7em;
    margin:1em 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
    }
    a.button7:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    }
    button.btnRemove{
        display:inline-block;
        padding: 0.2em 2.5em;
        margin:0em 0.3em 0.3em 0.5em;
        border-radius:3em;
        text-decoration:none;
        font-weight:100;
        color:#FFFFFF;
        background-color:#3369ff;
        text-align:center;
        position:relative;
        }